TZ=America/Chicago
NODE_ENV=production
PORT=3003

# Talk to mod-rag-api (which is running in a different compose project) via host gateway
NEXT_PUBLIC_AI_RAG_API_BASE=https://rag.fullstackjedi.dev
NEXT_PUBLIC_AI_CORE_BASE=https://ai-core.fullstackjedi.dev
EMBED_LOCK_ENABLED=false

