TZ=America/Chicago
NODE_ENV=production
PORT=3003

NEXT_PUBLIC_AI_RAG_API_BASE=https://rag.fullstackjedi.dev
NEXT_PUBLIC_AI_CORE_BASE=https://ai-core.fullstackjedi.dev
NEXT_PUBLIC_PORTFOLIO_LOCK_ENABLED=false
