@import "../../node_modules/tailwindcss/dist/lib.d.mts";

:root {
  --background: #ffffff;
  --foreground: #111827;

  /* Prevent mobile browsers from auto-darkening */
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html,
body {
  background: var(--background);
  color: var(--foreground);

  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;

  color-scheme: light;
}

*,
*::before,
*::after {
  color-scheme: light;
}

input,
textarea,
select,
button {
  background-color: white;
  color: #111827;
}